################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Source/VanillaVehiclesExpanded-Tier3/.vs/VanillaVehiclesExpanded-Tier3/v16
